* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

.imgIntroOnlineLeft {
    width: 100%;
    height: 522px;
    overflow: hidden;
}

.imgIntroOnlineRightDuoi img {
    width: 100%;
}

.imgIntroOnlineRightDuoi {
    width: 100%;
    height: 218px;
    overflow: hidden;
}

.imgIntroOnlineRightTren {
    width: 100%;
    height: 216px;
    overflow: hidden;
}

.contentIntroOnlineRightDuoi {
    border-radius: 16px;
    overflow: hidden;
}

.contentIntroOnlineRightTrenItem .wrapTextContentIntroOnline span {
    width: 100%;
}

.contentIntroOnlineRightTrenItem img {
    width: 100%;
    /* height: 216px; */
}

.contentIntroOnlineRightTrenItem {
    width: 48.5%;
    border-radius: 16px;
    overflow: hidden;
}

.contentIntroOnlineRightTren {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.wrapTextContentIntroOnline {
    width: 100%;
    padding: 16px;
    line-height: 20px;
    background-color: rgb(34, 34, 34) !important;
    box-sizing: border-box;
}

.wrapTextContentIntroOnline span {
    /* background-color: rgb(34, 34, 34) !important; */
    width: 45%;
    display: block;
    /* padding: 15px 40px 20px 8px; */
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-family: sen,sans-serif;
}

.contentIntroOnlineLeft img {
    width: 100%;
}

.contentIntroOnlineRight {
    width: 49.3%;
}

.contentIntroOnlineLeft {
    width: 49.3%;
    border-radius: 16px;
    overflow: hidden;
}

.contentIntroOnline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 36px;
}

.titileIntroOnlineRight a {
    padding: 10px 15px;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    border-radius: 5px;
}

.titileIntroOnlineRight a:hover {
    /* background-color: white; */
    background: rgb(113, 113, 113) !important;
}

.titileIntroOnlineRight {
    padding-top: 11px;
}

.titileIntroOnlineLeft a {
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.titileIntroOnlineLeft p {
    font-family: sen, sans-serif;
    width: 43%;
}

.titileIntroOnlineLeft h2 {
    /* font-family: 'Sen', sans-serif; */
    font-size: 31.8px;
}

.titileIntroOnlineLeft {
    width: 85%;
}

.titileIntroOnline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containIntroOnline {
    width: 100%;
    color: white;
    padding: 65px 0px 80px 0px;
    font-family: 'Sen', sans-serif;
}

.wrapIntroOnline {
    background-color: black;
    width: 100%;
    margin: 50px 0px;
}

.playstayContentButton {
    position: relative;
}

.playstayContentButton .prev:hover {
    background-color: #ffffffc4;
    cursor: pointer;
}

.playstayContentButton .next:hover {
    background-color: #ffffffc4;
    cursor: pointer;
}

.playstayContentButton .prev {
    position: absolute;
    z-index: 10;
    top: 90px;
    left: -12px;
    background-color: #ffffff6e;
}

.playstayContentButton .next {
    position: absolute;
    top: 90px;
    z-index: 10;
    right: -12px;
    background-color: #ffffff6e;
}

.wrap_text_block4 {
    margin-top: -8px;
    /* padding-left: 15px; */
    /* padding-top: 15px; */
    /* padding-bottom: 10px; */
    padding: 15px;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 8px 0px #00000030;
}

.Block4eExplore {
    margin-top: 10px;
}

.wraper_feature {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.wrapPlaystayItems {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    overflow: hidden;
    height: 280px;
    margin-top: 20px;
    position: relative;
}

.AddventuresBlock {
    margin: 20px 0px;
}

.introduceContent {
    margin-top: 40px;
}

.wrapper_introduce {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper_header {
    width: 90%;
    max-width: 1215px;
    height: 100%;
    margin: auto;
    position: relative;
}

@font-face {
    font-family: "circular";
    src: url("../font/Circular/CircularStd-Medium.ttf");
}
/*@font-face {
    font-family: "adlanta";
    src: url("../font/Adlanta Font/Adlanta.otf");
}*/
/*@font-face {
    font-family: "HelveticaNeues";
    src: url("../font/__MACOSX/Fontbox.vn - Helvetica Neue Tieng Viet/OTF/._HelveticaNeue.otf");
}*/
body {
    background-color: white;
}

#header {
    width: 100%;
    height: 830px;
    background-image: url("../images/head.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}


/* menu */

#header .logo {
    position: absolute;
    top: 23px;
    left: 0px;
    /* padding-top: 26px; */
    color: white;
    font-size: 34px;
}

#header .logo:hover {
    cursor: pointer;
}

#menu {
    position: absolute;
    top: 30px;
    right: 0px;
    /* float: right; */
    color: white;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-weight: bold;
}

#menu li {
    margin-right: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

#menu li a {
    color: white;
    font-size: 13px;
    font-family: sans-serif;
}

#menu li:hover {
    padding-bottom: 34px;
    border-bottom: 2px solid white;
}

#menu li:last-child {
    margin-right: 0px;
    padding-right: 0px;
}


/* end menu */


/* start #form */

#form {
    position: absolute;
    top: 120px;
    left: 0px;
    /* margin-top: 53px; */
    width: 380px;
    height: 416px;
    background-color: rgb(255, 255, 255);
    padding: 34px 32px 24px 32px;
    border-radius: 5px;
}

#form div.title {
    font-size: 30px;
    color: #484848;
    background-color: white;
    margin-bottom: 18px;
    font-weight: bold;
}

#form form {
    background-color: white;
}

#form form * {
    background-color: white;
}

#form form div#checking {
    display: flex;
    margin-bottom: 24px;
}

#form form .label {
    color: #484848;
    font-size: 12px;
    margin-bottom: 10px;
}

#form form input,
#form form .guests {
    border: none;
    font-size: 18px;
    padding: 13px 0px;
    padding-left: 12px;
    border: 1px solid #EBEBEC;
    border-radius: 5px;
}

#form form input.where {
    width: 100%;
}

#form form input.inputText {
    margin-bottom: 22px;
}

#form form input.inputDate {
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#form form .trai input.inputDate {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#form form .phai input.inputDate {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: 0px;
}

#form form .guests {
    color: #767676;
    cursor: pointer;
    /* width: 366px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22px;
}

#form form .guests div:nth-child(1) {
    flex-basis: 200px;
    flex-grow: 1;
}

#form form .guests div:nth-child(2) {
    flex-basis: 22px;
}

#form form .guestsItem {
    position: relative;
}

#form form .input .menuItem {
    /* height: 252px;
    width: 380px; */
    width: 328px;
    height: 206px;
    padding: 34px 26px 12px 26px;
    position: absolute;
    top: 50px;
    border-radius: 5px!important;
    box-shadow: 0px 0px 25px 2px #bababa94;
    display: none;
}

#form form .input .menuItem .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form form .input .menuItem .titleItem,
#form form .input div.number {
    align-self: center;
    color: #484848;
}

#form form .input .menuItem .titleItem2 div:nth-child(1) {
    margin-bottom: 8px;
    font-size: 15px;
}

#form form .input .menuItem .titleItem2 div:nth-child(2) {
    color: rgba(68, 55, 55, 0.64);
    font-size: 14px;
}

#form form .input .menuItem .item:nth-child(2),
#form form .input .menuItem .item:nth-child(3) {
    margin-bottom: 26px;
}

#form form .input .menuItem .choose {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

#form form .input .menuItem svg.plus {
    cursor: pointer;
}

#clear {
    font-size: 14px;
    cursor: pointer;
    display: none;
}

#clear:hover,
#save:hover {
    text-decoration: underline;
}

#form form input[type="submit"] {
    width: 102px;
    background-color: #FF5A5F!important;
    color: white;
    padding-left: 0px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0px;
    cursor: pointer;
}


/* end #*/

#header .slogan a {
    line-height: 20px;
    position: absolute;
    text-align: right;
    color: white;
    width: 160px;
    height: 45px;
    right: 0px;
    bottom: 19px;
    font-size: 13px;
    font-weight: bold;
}

#header .slogan a:hover {
    text-decoration: underline;
}

#wraper {
    margin: 0 auto;
    width: 90%;
    max-width: 1215px;
}

#exploreContent {
    width: 100%;
    margin-top: 42px;
}

.title.titleInContent {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

div#explore {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

#exploreContent .explore_item {
    background-color: white;
    height: 86px;
    width: 32%;
    /* width: 84%; */
    border-radius: 10px;
    /* margin-right: 16px; */
    overflow: hidden;
    box-shadow: 0px 0px 10px #c1c1c1;
}

#exploreContent .explore_item:last-child {
    margin-right: 0px;
}

a.explore_link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #222222;
}

#exploreContent img.explore_image {
    width: 128px;
    height: 86px;
    margin-right: 24px;
}

.introduce_item {
    max-width: 225px;
    width: 19%;
    height: 420px;
}

.introduce_item .item_content {
    width: fit-content;
    height: fit-content;
}

.introduce_item .item_content img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.introduce_item .introduce-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.introduce_item .item_content .title {
    line-height: 14px;
    font-size: 14px;
    margin-top: 15px;
    color: #222222;
}

.introduce_item .item_content .text-item {
    color: #222222db;
    margin-top: 6px;
    line-height: 20px;
}

.toDiffContents {
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.toDiffContents div {
    display: inline;
    text-decoration: underline;
}

.toDiffContents i {
    margin-left: 10px;
}

.toDiffContents:hover {
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
}

.place_stay_item {
    max-width: 290px;
    width: 24%;
    height: 280px;
}
.wrap4itemPlayStay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    /* top: 0; */
    /* left: 0; */
    opacity: 0;
    visibility: hidden;
}
.wrap4itemPlayStay.itemPlayStayActive{
    opacity: 1;
    visibility: visible;
}
.bien_mat_sang_trai{
    animation: hided-trai 1s forwards;
}
@-webkit-keyframes hided-trai{
    0%{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
}
.di_vao_tu_ben_phai{
    animation: vao-phai 1s forwards;
}
@-webkit-keyframes vao-phai{
    0%{
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}
.bien_mat_sang_phai{
    animation: hided-phai 1s forwards;
}
@-webkit-keyframes hided-phai{
    0%{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
}
.di_vao_tu_ben_trai{
    animation: vao-trai 1s forwards;
}
@-webkit-keyframes vao-trai{
    0%{
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}
.place_stay_item div.img {
    width: 100%;
    height: 66%;
    border-radius: 5px;
    overflow: hidden;
}

.place_stay_item div.img img {
    width: 100%;
    height: 100%;
}

.place_stay_item .top {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.place_stay_item .top .title {
    flex-grow: 1;
    font-family: 'Sen', sans-serif;
    font-size: 14px;
    color: gray;
}

.place_stay_item .top .star {
    widows: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.place_stay_item .money {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.place_stay_item .description {
    color: #222222;
    font-size: 15px;
    margin-top: 5px;
    font-family: sen;
}

.place_stay_item .money {
    margin-top: 6px;
}

.place_stay_item p.price {
    color: #222222;
    font-weight: bold;
    margin-right: 5px;
}

.feature_item {
    /* width: 385px; */
    height: 330px;
    width: 32.3%;
}

.feature_item a .img {
    height: 235px;
    width: 100%;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.feature_item a .img img {
    width: 100%;
    height: 100%;
}

.feature_item a .title {
    color: #914699;
    margin-top: 13px;
    font-size: 11px;
    font-weight: bold;
}

.feature_item a p {
    color: #484848;
    margin-top: 6px;
}


/* footer */

footer {
    margin-top: 50px;
}

.container_footer {
    /* width: 1032px; */
    width: 90%;
    max-width: 1215px;
    margin: 0 auto;
    margin-top: 50px;
}

.container_footer .menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
}

.container_footer .menu .title {
    color: #484848;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 14px;
}

.container_footer .menu ul {
    list-style: none;
}

.container_footer .menu ul li a {
    color: #76768C;
    font-size: 14px;
    line-height: 22px;
}

.container_footer .menu ul li a:hover {
    text-decoration: underline;
}

.container_footer .menu ul li .new {
    float: right;
    margin-right: 40%;
    /* float: left; */
    margin-top: 2px;
    padding: 2px 5px;
    color: white;
    font-size: 13px;
    border-radius: 4px;
    background-color: #006A70;
}

.container_footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #767676;
    margin-bottom: 50px;
}

.container_footer .foot .left {
    display: flex;
    flex-direction: row;
}

.container_footer .foot .left i.fa-circle {
    font-size: 3px;
    padding: 8px 4px 0px 4px;
}

.container_footer .foot .left a {
    font-size: 14px;
    color: #76768C;
}

.container_footer .foot .left a:hover {
    text-decoration: underline;
}

.container_footer .foot .right i {
    margin-right: 16px;
    font-size: 18px;
    color: #767676;
}